# **WORK FROM HOME EMPLOYEE BURNOUT**

# **Import Library**

In [3]:
import pandas as pd

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
path = '/content/drive/MyDrive/AVD/File csv/work_from_home_burnout_dataset.csv'

# **Memuat Dataset**

In [6]:
burn = pd.read_csv(path)
burn

,user_id,day_type,work_hours,screen_time_hours,meetings_count,breaks_taken,after_hours_work,sleep_hours,task_completion_rate,burnout_score,burnout_risk
0,1,Weekday,9.59,11.86,4,2,0,7.55,91.2,19.17,Low
1,1,Weekend,7.38,10.33,4,1,0,6.69,82.0,29.70,Low
2,1,Weekend,6.31,8.92,1,2,0,8.87,80.6,32.93,Low
3,1,Weekday,8.34,10.70,4,1,1,8.13,70.0,45.47,Low
4,1,Weekend,6.97,9.83,1,2,0,5.85,67.1,51.61,Low
...,...,...,...,...,...,...,...,...,...,...,...
1795,180,Weekend,6.33,8.16,0,4,0,5.59,73.5,31.91,Low
1796,180,Weekend,4.70,7.88,0,4,0,6.69,89.8,26.30,Low
1797,180,Weekend,3.92,6.39,2,1,0,6.77,74.6,34.07,Low
1798,180,Weekday,8.93,11.11,2,5,0,8.28,74.6,38.14,Low
1799,180,Weekend,4.38,6.72,0,1,0,7.13,70.7,40.76,Low

In [7]:
burn.head()

,user_id,day_type,work_hours,screen_time_hours,meetings_count,breaks_taken,after_hours_work,sleep_hours,task_completion_rate,burnout_score,burnout_risk
0,1,Weekday,9.59,11.86,4,2,0,7.55,91.2,19.17,Low
1,1,Weekend,7.38,10.33,4,1,0,6.69,82.0,29.70,Low
2,1,Weekend,6.31,8.92,1,2,0,8.87,80.6,32.93,Low
3,1,Weekday,8.34,10.70,4,1,1,8.13,70.0,45.47,Low
4,1,Weekend,6.97,9.83,1,2,0,5.85,67.1,51.61,Low

In [8]:
burn.tail()

,user_id,day_type,work_hours,screen_time_hours,meetings_count,breaks_taken,after_hours_work,sleep_hours,task_completion_rate,burnout_score,burnout_risk
1795,180,Weekend,6.33,8.16,0,4,0,5.59,73.5,31.91,Low
1796,180,Weekend,4.70,7.88,0,4,0,6.69,89.8,26.30,Low
1797,180,Weekend,3.92,6.39,2,1,0,6.77,74.6,34.07,Low
1798,180,Weekday,8.93,11.11,2,5,0,8.28,74.6,38.14,Low
1799,180,Weekend,4.38,6.72,0,1,0,7.13,70.7,40.76,Low

# **Business Understanding**

## **Business Objective**

Dataset Work From Home Employee Burnout

Data ini merupakan sebuah kumpulan data yang memuat kondisi karyawan selama melakukan Work From Home atau yang disingkat sebagai WFH. Ini digunakan agar kita dapat memahami faktor apa saja yang memengaruhi tingkat burnout, seperti jam kerja dan istirahat, serta work life balance.

Dalam dataset ini terdapat 1800 baris dan 11 kolom

## **Assess Situation**

Burnout ini sering menjadi isu bagi para karyawan yang menerapkan situasi WFH di pola kerjanya. Adanya perubahan pola kerja ini dapat memengaruhi tingkat stres yang dimiliki karyawan. Oleh karena itu, perusahaan perlu untuk melakukan analisis seperti dataset ini untuk bisa memahami penyebab burnout yang dialami oleh karyawan mereka.

## **Analytic Goals Project Plan**

Dalam dataset ini akan dilakukan:


*   Mengidentifikasi faktor yang menyebabkan burnout pada karyawan.
*   Menganalisis hubungan antar faktor dengan tingkat stres yang dimiliki karyawan.


*   Menghasilkan visualisasi.
*   Memberikan dasar rekomendasi keputusan.